# FOR COURSESELLING WEBSITE
COURSESELLING_FRONTEND_PATH=yourdockerhubuser/coursesellingfrontend:latest
COURSESELLING_BACKEND_PATH=yourdockerhubuser/coursesellingbackend:latest

# FOR STREAMWEAVER WEBSITE
STREAMWEAVER_FRONTEND_PATH=yourdockerhubuser/streamweaverfrontend:latest
STREAMWEAVER_BACKEND_PATH=yourdockerhubuser/streamweaverbackend:latest
