# FOR COURSESELLING WEBSITE 
COURSESELLING_FRONTEND_PATH=yourdockerhubuser/coursesellingfrontend:latest 
COURSESELLING_BACKEND PATH =yourdockerhubuser/streamweaverfrontend:latest 

#FOR STREAMWEAVER WEBSITE 
STEAMWEAVER_FRONTEND_PATH=yourdockerhubuser/coursesellingbackend:latest
STREAMWEAVER_BACKEND_PATH=yourdockerhubuser/streamweaverbackend:latest # Domain

